


.metal{display: table-cell;position: fixed;height: 100%;top: 0px;}
.metal:after{content: "";display: inline-block;height: 100%;width: 0;vertical-align: middle;}
.metal .content{border: 1px solid #EEE;border-left: none;border-radius: 0px 20px 20px 0px;width: 30px;display: inline-block;vertical-align: middle;}
.metal .content .link{height: 35px;text-align: center;line-height: 35px;}
.metal .content .link .bug{width: 10px;height: 10px;border: 1px solid silver;border-radius: 50%;display: inline-block;vertical-align: middle;cursor: pointer;}
.metal .content .link .on{background: silver;}    

.main{margin-top: 100px;width: 100%;box-sizing: border-box;}
.main .block{height: 600px;overflow: hidden;}
/*.main .block:after{display: inline-block;content: "";height: 100%;vertical-align: middle;}*/
.main .blockone{display: table-row;width: 100%;}
.main .block p{display: table-cell;width: 50%;}

.main .blockone p{vertical-align: middle;text-align: center;}
.main .blockone p label{display: block;font-size: 65px;    font-family: cursive;color: #999;}
.main .blockone p span{font-size: 25px;font-family: fantasy;color: #CCC;
}
.main .blocktwo{display: block;}
.main .blocktwo img{width: 100%;}

.main .blockthree{position: relative;}
.main .blockthree .producttitle{position: absolute;top: 0px;left: 0px;width: 320px;padding-left: 40px;box-sizing: border-box;}
.main .blockthree .producttitle .title{display: block;font-size: 30px;width: 100%;color: #666;}
.main .blockthree .producttitle .titledesc{display: block;width: 40px;font-size: 20px;border-top: 3px solid #999;color: #999;}

.main .blockthree .productlist{margin-left: 320px;}
.main .blockthree .productlist img{width: 100%;}

.main .blockfour{display: block;text-align: justify;height: 300px;overflow: hidden;cursor: pointer;}
.main .blockfour:after{content: "";display: inline-block;width: 100%;}
.main .blockfour .product{display: inline-block;height: 300px;position: relative;width: 270px;border: 1px solid silver;border-radius: 4px;text-align: center;overflow: hidden;}
.main .blockfour .product img{width: 200px;transition: all linear .3s;}
.main .blockfour .product img:hover{width: 230px;}
.main .blockfour .product span{display: block;position: absolute;width: 100%;height: 30px;text-align: center;bottom: 0px;left: 0px;}

