<!DOCTYPE html>
<html>
<head>
	<title>成都进源包装有限公司</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript" src="js/index.js"></script>
	<link rel="icon" type="image/x-icon" href="images/logo.png">

	<script type="text/javascript" src="plugins/jquery.js"></script>
</head>
<body>
	<div class="metal">
		<div class="content">
			<p class="link"><a class="bug on"></a></p>
			<p class="link"><a class="bug"></a></p>
			<p class="link"><a class="bug"></a></p>
			<p class="link"><a class="bug"></a></p>
			<p class="link"><a class="bug"></a></p>
		</div>
	</div>
	<div class="center main">
		<div class="block blockone">
			<p>
				<label>印刷&nbsp;&nbsp;视觉的艺术</label>
				<span>Graphic Communications</span>
			</p>
			<p><img src="images/art.png" alt="" title=""></p>
		</div>
		<div class="block blocktwo">
			<img src="images/adv.jpg">
		</div>
		<div class="block blockone">
			<p><img src="images/step.png"></p>
			<p>
				<label>多彩的印务实现</label>
				<span>四色印刷<br/>胶印<br/>特种印刷</span>
			</p>
		</div>
		<div class="block blockthree">
			<div class="producttitle">
				<p class="title">产品展示</p>
				<p class="titledesc">Product</p>
			</div>
			<div class="productlist">
				<img src="images/adv.jpg" alt="" title="">
			</div>
		</div>
		<div class="block blockfour">
			<div class="product">
				<img src="images/product.png" alt="" title="">
				<span>这里是描述</span>
			</div>
			<div class="product">
				<img src="images/product.png" alt="" title="">
				<span>这里是描述</span>
			</div>
			<div class="product">
				<img src="images/product.png" alt="" title="">
				<span>这里是描述</span>
			</div>
			<div class="product">
				<img src="images/product.png" alt="" title="">
				<span>这里是描述</span>
			</div>
		</div>
	</div>
</body>
</html>